body {
    background-color: #fff;
}

#desc {
    color: #838383;
    letter-spacing: 2px;
}

#controls {
    box-shadow: 0px 2px 10px 1px;
}

.shiny-output-error {
    font-family: monospace;
    font-size: 5em;
    color: pink;
}

#download.shiny-output-error {
    display: none;
} 


